.form-loader,
.login{
  @include fadedBG(0,0.9);
  color: $white;
  font-size: 1em;
  padding: 1em 1em 1.25em;
  position: absolute;
  transition: 0.5s all ease-in-out;
  transform: translateY(-100%);
  top: 0;
  z-index: 5;
  &.no-data{
    transform: translateY(-200%);
  }
  .response{
    font-size: 0.75em;
    margin: 1em;
    width: 80%;
    div,
    p{
      margin: 3pt 0;
    }
    img{
      float: right;
      margin-right: 2.5em;
      width: 2.5em;
    }
  }
  &.open{
    transform: translateY(0);
  }
  &.scrolling{
    input[type=submit]{
      background-color: rgba(0,0,0,.3);
      left: 40%;
      top: 5px;
      position: fixed;
      transition: 1s all ease-in-out;
    }
    .fader{
      @include fuzzybottomBlack();
      bottom: 0;
      left: 0;
      height: 3em;
      position: absolute;
      width: 100%;
    }
  }
  .links{
    margin: 1em;
    a{
      color: $white;
      font-size: 0.65em;
      padding: 0 0.5em;
    }
  }
  .loading{
    height:0;
    top: 50%;
    left: 50%;
    width:0;
    &.on{
      @include fadedBG(255,0.6);
      left: 0;
      height:100%;
      top: 0;
      width:100%;
    }
    p{
      font-size: 0;
      left: -1em;
      white-space: nowrap;
      // transform: rotate(-360deg);
    }
    &.on{
      p{
        color: #000;
        font-size: 2em;
        // transform: rotate(0deg);
      }
    }
  }
  .captcha.field{
    margin: 2em auto;
    width: 85%;
    .errors{
      width: 84pt;
      top: 0;
      .error{
        padding: 4pt 0;
      }
    }
  }
  .meter{
    bottom: -15px;
    border: 1pt solid rgba(169,169,169, .5);
    height: 5pt;
    position: absolute;
    width: 69%;
    .status{
      background-color: red;
      height: 2pt;
      left: 1pt;
      position: relative;
      top: 1pt;
      transition: 0.75s all ease-in;
      width: 0.5%;
    }
  }
  .down-tab{
    @include fadedBG(0,0.9);
    bottom: 0;
    font-size: 0.8em;
    margin: -2em 0;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: 1;
    button{
      color: $white;
      background-color: transparent;
      border: 0;
      display: block;
      height: 3em;
      min-width: 65pt;
      outline: 0;
    }
    &.offset-5{
      left: 5em;
    }
  }
}
