.loading{
  background-color: rgba(255,255,255, 0.5);
  height: 100%;
  left:0;
  position: absolute;
  transition: all 0.25s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 1;
  p{
    color: $white-smoke;
    font-size: 3em;
    text-align: center;
    margin: auto;
    position: relative;
    transition: all 0.8s ease-in-out;
    width: 250pt;
    @include vertical(50%,-50%);
    &::after{
      content: '...';
    }
  }
}
