.form-loader,
.login{
  @include fadedBG(0,0.8);
  color: $white;
  font-size: 1.2em;
  padding: 3em 1em;
  position: absolute;
  transition: 0.5s all ease-in-out;
  transform: translateY(-100%);
  top: 0;
  z-index: 5;
  &.open{
    transform: translateY(0);
  }
  .links{
    a{
      color: $white;
      font-size: 0.65em;
      padding: 0 0.5em;
    }
  }
  .loading{
    height:0;
    top: 50%;
    left: 50%;
    width:0;
    &.on{
      @include fadedBG(255,0.6);
      left: 0;
      height:100%;
      top: 0;
      width:100%;
    }
    p{
      font-size: 0;
      left: -1em;
      white-space: nowrap;
      // transform: rotate(-360deg);
    }
    &.on{
      p{
        color: #000;
        font-size: 2em;
        // transform: rotate(0deg);
      }
    }
  }
  .down-tab{
    @include fadedBG(0,0.9);
    bottom: 0;
    font-size: 0.8em;
    margin: -2em 0;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: 1;
    button{
      color: $white;
      background-color: transparent;
      border: 0;
      display: block;
      height: 3em;
      min-width: 65pt;
      outline: 0;
    }
    &.offset-5{
      left: 5em;
    }
  }
  form{
    position: relative;
    .field{
      margin: 2em 0;
      position: relative;
      label{
        bottom:0;
        padding: 3pt 0 3pt 10pt;
        position: absolute;
        transition: 0.5s all ease-in-out;
      }
      input{
        color: $white !important;
        border: 1pt solid $grey;
        border-radius: 1pt;
        font-size: 0.75em;
        margin: 0;
        padding: 5pt;
        width: 70%;
      }
      &.active{
        label{
          bottom:100%;
          font-size: 0.65em;
          opacity: 0.5;
          padding: 3pt 0 3pt 0;
        }
      }
    }
    input[type=submit]{
      border: 1pt solid $grey;
      border-radius: 1pt;
      color: $white;
      margin: 0;
      float: left;
    }
  }

}
