
.symbol{
  &.dash{
    text-align: right;
    display: inline-block;
    width: 5pt;
    &:before{
      content:'';
    }
    &:after{
      content:'-';
      font-size: 1em;
    }
  }
}
[class^=flag-]{
  background-repeat: no-repeat;
  background-size: 1em;
  height: 1em;
  outline: none;
}
.flag-newcore{
  color: $green;
  font-size: 1.1em;
}
.flag-organic{
  background-image: url(/public/imgs/icons/leaf.svg);
  text-indent: 1em;
}
.flag-fairTrade{
  background-image: url(/public/imgs/icons/fare-trade.svg);
  text-indent: 1em;
}
