
html{
  font-family: "GT-Eesti 5r",Arial,sans-serif;
  user-select: none;
  footer,
  header{
    background-color: $charcoal;
    color: $white-smoke;
    padding: 1em 0;
    .heading{
      color: $white-smoke;
      font-size: 1.25em;
      padding: 0 1em;
    }
  }
  footer{
    color: $white;
    bottom: 0;
    padding: 0.85em 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
.container {
  margin: 0 auto;
  padding: 0.5em;
  overflow: hidden;
  &.main{
    height: calc(100% - 87pt);
    overflow:auto;
  }
}
ul{
  &.row{
    li{
      display: inline-table;
    }
  }
}
a{
  &.button{
    border: 1px solid $grey;
    border-radius: 5pt;
    @include fadedBG(169, 0.2);
    color: $white;
    display: inline-block;
    float: left;
    font-size: 0.8em;
    margin: 0.5em;;
    padding: 0.15em 0.5em;
    width: auto;
  }
}
button{
  cursor: pointer;
  user-select: none;
  &.online{
    border: 1px solid $grey;
    border-radius: 3pt;
    color: $white;
    position: absolute;
    right: 5pt;
    transition: 0.5s ease;
    top: 5pt;
    &.on{
      background-color: $bg_green;
    }
    &.off{
      background-color: $bg_red;
    }
  }
}
input{
  background-color:transparent;
  border: none;
  outline: none;
}
.errors{
  left: 0;
  top: -1em;;
  position: absolute;
  width: 100%;
  .error{
    @include fadedBG(169, 0.8);
    border: 1pt solid $red;
    display: inline-block;
    font-size: 0.5em;
    left:0;
    padding: 3pt;
    user-select: none;
  }
}
.loader{
  overflow: hidden;
  transition: width 600ms ease-in-out, height 600ms ease-in-out, opacity 1000ms ease-in-out;
}
.messages{
  background-color: rgba(255,125,0, 0.8);
  border-radius: 2pt;
  margin: 1em;
  height: 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  transition: 0.5s all ease-in-out;
  text-align: center;
  width: 55%;
  li{
    font-size: 0.5em;
    height: 0;
    opacity: 0;
    padding: 5pt;
    transition: 0.5s all ease-in-out;
  }
  &.active{
    height: auto;
    opacity: 1;
    li{
      height: auto;
      opacity: 1;
    }
  }
}
.image-wrap{
  animation-name: fader;
  animation-duration: 2s;
  clear: both;
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  z-index: 1;
  img{
    cursor: pointer;
    height: auto;
    position: absolute;
    width: 100%;
  }
}
.flags{
  font-size: 6pt;
  font-style: normal;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0 0 4pt 0;
  white-space: nowrap;
  span{
    display: inline-block;
    margin: 0 3pt 0 0;
  }
}
