div.accounts

  div.response  
  
    each part in Spec
    
      if part.p
        p= part.p
        
      if part.a
        a(href= part.a.href ari-label= part.a.label class= part.a.class)= part.a.label
  
      if part.blockquote
        blockquote= part.blockquote
        
      if part.div
        blockquote= part.div
        
      if part.img
        img(alt= part.img.alt src= part.img.src )
  
