/** sidebar component styles
@TODO provide build reference tagging for packageing compile styles into
each component to maintain full component architecture
**/
.sidepanel {
  background-color: rgba(0, 0, 0, 0.8);
  left: 100%;
  height: 100%;
  min-width: 200pt;
  max-width: 33%;
  position: fixed;
  padding: 3.5em 0.5em;
  transform: translateX(0);
  transition: 0.25s all ease-in-out;
  top: 0;
  z-index: 10; }
  .sidepanel.open {
    transform: translateX(-200pt); }
  .sidepanel .tab {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: block;
    font-size: 0.75em;
    left: -3.5em;
    transform: rotate(-90deg);
    height: 1.25em;
    width: 6em;
    top: 5em;
    position: absolute;
    text-align: center; }
  .sidepanel .view .heading form {
    position: relative; }
    .sidepanel .view .heading form input[type=submit] {
      color: #fff;
      margin: 0.5em;
      padding: 0.5em 0;
      position: absolute;
      right: 2.5em;
      top: 0;
      z-index: 1; }
    .sidepanel .view .heading form label {
      display: block;
      left: 1em;
      padding: 0.5em 0;
      position: relative;
      text-align: center;
      width: 135pt; }
      .sidepanel .view .heading form label input {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 2px;
        color: #fff;
        font-size: 0.75em;
        text-align: center;
        width: 100%;
        z-index: 1; }
  .sidepanel .view .last-seen .frame {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1pt solid grey;
    border-radius: 3pt;
    margin: 0 15% 0 5%;
    padding: 0.25em;
    width: 80%; }
    .sidepanel .view .last-seen .frame h4 {
      color: #696969;
      font-size: 8pt;
      font-style: oblique;
      text-align: right; }
  .sidepanel .view .history .list {
    color: #fff;
    font-size: 0.65em;
    height: 80pt;
    overflow: auto;
    padding: 10pt 0 10pt 10pt;
    position: relative;
    top: 0.5em; }
    .sidepanel .view .history .list .row {
      white-space: nowrap; }
  .sidepanel .view .history button,
  .sidepanel .view .history h4 {
    color: #fff;
    font-size: 0.75em;
    position: relative; }
  .sidepanel .view .history h4 {
    right: 2.5em;
    float: right;
    padding-top: 4pt;
    text-align: right;
    width: auto; }
  .sidepanel .view .history button {
    background-color: transparent;
    border: 1pt solid #fff;
    top: 3pt;
    left: 1.5em;
    font-size: 0.5em; }
  .sidepanel .view .history .list ul li.image {
    border-radius: 5pt;
    width: 15pt; }
  .sidepanel .view .history .list ul li.text {
    margin: 0 0 0 8pt;
    bottom: 6pt;
    position: relative; }

/** shopping component view styles
@TODO provide build reference tagging for packageing compile styles into
each component to maintain full component architecture
**/
.sidepanel .frame,
.shopping .frame {
  transition: 0.5s all ease-in-out; }
  .sidepanel .frame .panel,
  .shopping .frame .panel {
    font-size: 0.6em;
    float: left;
    width: 50%; }
    .sidepanel .frame .panel h2,
    .shopping .frame .panel h2 {
      font-size: 0.8em;
      padding: 0 3pt 3pt 0; }
    .sidepanel .frame .panel.left,
    .shopping .frame .panel.left {
      float: left; }
      .sidepanel .frame .panel.left .image-wrap,
      .shopping .frame .panel.left .image-wrap {
        width: 80%; }
    .sidepanel .frame .panel .price,
    .shopping .frame .panel .price {
      color: #696969;
      font-size: 0.75em; }
      .sidepanel .frame .panel .price .currency,
      .shopping .frame .panel .price .currency {
        font-size: 0.75em;
        padding: 0 1pt 0 0;
        position: relative;
        top: -3pt; }

@media (max-width: 480px) {
  .shopping .frame .panel {
    font-size: 1.2em; } }

@media (min-width: 768px) {
  .shopping .frame .panel {
    font-size: 0.9em; } }

@media (min-width: 1024px) {
  .shopping .frame .panel {
    font-size: 1.2em; } }

@media (min-width: 1366px) {
  .shopping .frame .panel {
    font-size: 1.2em; }
    .shopping .frame .panel .flags {
      font-size: 8pt; }
    .shopping .frame .panel .price {
      font-size: 0.8em; } }

/** expander component part styles
@TODO provide build reference tagging for packageing compile styles into
each component to maintain full component architecture
**/
.bg-block {
  background-color: rgba(0, 0, 0, 0.8);
  animation-name: fader;
  animation-duration: 0.5s;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: 1s all ease-in-out;
  width: 100%;
  z-index: 100; }
  .bg-block .closer {
    background-color: transparent;
    border: 0;
    font-size: 2em;
    font-weight: 200;
    outline: 0;
    position: absolute;
    text-align: center;
    top: 5pt;
    right: 5pt; }
    .bg-block .closer .icon {
      color: #8b0000;
      padding: 3pt; }
      .bg-block .closer .icon:before {
        content: ''; }
      .bg-block .closer .icon:after {
        content: 'x'; }
    .bg-block .closer.open .icon {
      color: #27AE60; }
  .bg-block .presentation-box {
    margin: 0 8%;
    overflow: visible;
    position: relative;
    top: 12.5%;
    width: 75%;
    z-index: 1; }
    .bg-block .presentation-box .image-wrap {
      animation-name: scaler;
      animation-duration: 1s; }
    .bg-block .presentation-box .view {
      position: relative; }
      .bg-block .presentation-box .view .clickbar {
        background-color: rgba(255, 255, 255, 0.1);
        height: 100%;
        position: absolute;
        top: 0;
        width: 2em;
        z-index: 2; }
        .bg-block .presentation-box .view .clickbar.right {
          right: 0; }
        .bg-block .presentation-box .view .clickbar.left {
          left: 0; }
        .bg-block .presentation-box .view .clickbar .indicate:after {
          bottom: 2pt;
          color: #fff;
          font-size: 1.3em;
          margin: 5pt;
          position: absolute;
          opacity: .8; }
        .bg-block .presentation-box .view .clickbar .indicate.right:after {
          content: '->'; }
        .bg-block .presentation-box .view .clickbar .indicate.left:after {
          content: '<-'; }
    .bg-block .presentation-box .slides {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      right: 1pt;
      top: 1pt;
      text-align: center;
      z-index: 1; }
      .bg-block .presentation-box .slides ul {
        border: 1pt solid #8f8f8f;
        border-radius: 3pt;
        margin: 0 4pt;
        position: fixed; }
        .bg-block .presentation-box .slides ul li {
          border: transparent 1pt solid;
          margin: 2pt; }
          .bg-block .presentation-box .slides ul li.selected {
            border: #fff 1pt solid; }
          .bg-block .presentation-box .slides ul li .image-wrap {
            width: 25pt; }
            .bg-block .presentation-box .slides ul li .image-wrap img {
              left: 0; }

.loading {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.25s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 1; }
  .loading p {
    color: #f5f5f5;
    font-size: 3em;
    text-align: center;
    margin: auto;
    position: relative;
    transition: all 0.8s ease-in-out;
    width: 250pt;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .loading p::after {
      content: '...'; }

.form-loader,
.login {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.2em;
  padding: 3em 1em;
  position: absolute;
  transition: 0.5s all ease-in-out;
  transform: translateY(-100%);
  top: 0;
  z-index: 5; }
  .form-loader.open,
  .login.open {
    transform: translateY(0); }
  .form-loader .links a,
  .login .links a {
    color: #fff;
    font-size: 0.65em;
    padding: 0 0.5em; }
  .form-loader .loading,
  .login .loading {
    height: 0;
    top: 50%;
    left: 50%;
    width: 0; }
    .form-loader .loading.on,
    .login .loading.on {
      background-color: rgba(255, 255, 255, 0.6);
      left: 0;
      height: 100%;
      top: 0;
      width: 100%; }
    .form-loader .loading p,
    .login .loading p {
      font-size: 0;
      left: -1em;
      white-space: nowrap; }
    .form-loader .loading.on p,
    .login .loading.on p {
      color: #000;
      font-size: 2em; }
  .form-loader .down-tab,
  .login .down-tab {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    font-size: 0.8em;
    margin: -2em 0;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: 1; }
    .form-loader .down-tab button,
    .login .down-tab button {
      color: #fff;
      background-color: transparent;
      border: 0;
      display: block;
      height: 3em;
      min-width: 65pt;
      outline: 0; }
    .form-loader .down-tab.offset-5,
    .login .down-tab.offset-5 {
      left: 5em; }
  .form-loader form,
  .login form {
    position: relative; }
    .form-loader form .field,
    .login form .field {
      margin: 2em 0;
      position: relative; }
      .form-loader form .field label,
      .login form .field label {
        bottom: 0;
        padding: 3pt 0 3pt 10pt;
        position: absolute;
        transition: 0.5s all ease-in-out; }
      .form-loader form .field input,
      .login form .field input {
        color: #fff;
        border: 1pt solid #8f8f8f;
        border-radius: 1pt;
        font-size: 1.1em;
        margin: 0; }
      .form-loader form .field.active label,
      .login form .field.active label {
        bottom: 100%;
        font-size: 1.1em;
        opacity: 0.5;
        padding: 3pt 0 3pt 0; }
    .form-loader form input[type=submit],
    .login form input[type=submit] {
      border: 1pt solid #8f8f8f;
      border-radius: 1pt;
      color: #fff;
      margin: 0;
      float: left; }
