html
  head
    title= title
    include includes/head
  body
  
    header
      heading= heading 
      
    div.main
      body= body
      
    footer
      footer= footer
      
    block scripts
