html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1' )
    title= title
    include includes/head
  body
  
    header
      heading= heading 
      
    block main
      body= body
      
    footer
      footer= footer
      
    block scripts
