html

  head
  
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1' )
    link(rel='icon', href='public/favicon.ico')
    link(rel='stylesheet', href='public/css/main.css')
    
    block head
    
  body
    block headings
    
    block header
      header
        div.heading= heading 
      
    block main
      div.container.main
        content= content 
          
    footer
      div= footer
      
    block scripts
