html

  head
  
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1' )
    link(rel='icon', href='/public/favicon.ico')
    link(rel='stylesheet', href='/public/css/main.css')
    
    block head
    
  body
    block headings
    
    block header
      header
        div.heading= heading 
      
    block main
      div.container.main
        content= content 
        
    if useForm 
      div.bg-block
        div.presentation-box
          include forms/form
          
    footer
      div= footer
      
      script.
      
        //@NOTE there is a Chrome bug where this does not always
        // hold true :. this will be moved into a component
        window.addEventListener('online', status);
        window.addEventListener('offline', status);
        window.addEventListener('error', status);
        
        var button = document.createElement('button');
        document.body.prepend(button);
        status();
        
        function status(){
          button.setAttribute('class', 'online on');
          button.innerHTML = 'on line';
          
          if (navigator && navigator.onLine===false){
            button.setAttribute('class', 'online off');
            button.innerHTML = 'off line';
          }
        }
      
    block scripts
